Details on the implementation and <strong>C</strong>ross-<strong>O</strong>rigin <strong>R</strong>esources <strong>S</strong>afely.<br />
The documentation for the web service that is called can be found <a href="#" target="_blank">here</a><br />
More on this topic <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS" target="_blank">here</a> and <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin" target="_blank">here</a>.
<navbar></navbar>
<router-outlet></router-outlet>
